/**
 * global / reset etc
 */
 body,
 textarea, input {
   background: 0;
   border-radius: 0;
   font-size: 16px;
   font-weight: 300;
   font-family: "Helvetica", "Arial", sans-serif;
   margin: 0;
 }

 * {
   outline: 0;
 }
